<ion-header class="ion-no-border">

  <ion-toolbar>


    <ion-buttons slot="start">

      <button
        type="button"
        class="boton-volver-dashboard"
        routerLink="/dashboard"
      >

        <span class="circulo-icono-volver">

          <ion-icon
            name="arrow-back-outline">
          </ion-icon>

        </span>


        <span class="texto-volver-dashboard">
          Volver al Dashboard
        </span>


      </button>

    </ion-buttons>



    <ion-title>
      Parqueo
    </ion-title>


  </ion-toolbar>

</ion-header>




<ion-content>


  <main class="pagina-parqueos">



    <!-- CARGANDO -->

    <div
      class="estado-carga"
      *ngIf="cargando"
    >

      <ion-spinner
        name="crescent">
      </ion-spinner>


      <span>
        Cargando información del parqueo...
      </span>


    </div>






    <!-- SIN PARQUEO -->


    <p
      class="sin-registros"

      *ngIf="
        !cargando &&
        parqueos.length === 0
      "
    >

      No hay información del parqueo registrada.


    </p>








    <!-- INFORMACION PARQUEO -->


    <ion-card

      *ngFor="
        let parqueo of parqueos
      "

    >


      <ion-card-header>


        <ion-card-title>


          <div class="encabezado-parqueo">


            <h2>

              {{ parqueo.nombreParqueo }}

            </h2>



            <span
              class="estado-parqueo"
              [class.inactivo]="
                !parqueo.activo
              "
            >

              {{

                parqueo.activo
                ? 'Activo'
                : 'Inactivo'

              }}


            </span>



          </div>


        </ion-card-title>


      </ion-card-header>







      <ion-card-content>




        <ion-list>




          <ion-item>


            <ion-icon
              slot="start"
              name="location-outline">
            </ion-icon>



            <ion-label>

              <strong>
                Dirección
              </strong>


              <p>
                {{ parqueo.direccion }}
              </p>


            </ion-label>



          </ion-item>






          <ion-item>


            <ion-icon
              slot="start"
              name="call-outline">
            </ion-icon>



            <ion-label>

              <strong>
                Teléfono
              </strong>


              <p>

                {{
                  parqueo.telefono
                  || 'No indicado'

                }}

              </p>


            </ion-label>



          </ion-item>








          <ion-item>


            <ion-icon
              slot="start"
              name="car-outline">
            </ion-icon>



            <ion-label>

              <strong>
                Capacidad total
              </strong>


              <p>

                {{
                  parqueo.capacidadTotal
                }}

                espacios

              </p>


            </ion-label>



          </ion-item>







          <ion-item>


            <ion-label>


              <strong>
                🟢 Espacios disponibles
              </strong>


              <p>

                {{
                  parqueo.espaciosDisponibles
                }}

                espacios libres

              </p>


            </ion-label>



          </ion-item>








          <ion-item>


            <ion-label>


              <strong>
                🔴 Espacios ocupados
              </strong>


              <p>

                {{
                  parqueo.espaciosOcupados
                }}

                vehículos

              </p>


            </ion-label>



          </ion-item>





        </ion-list>







        <div class="acciones-parqueo">

<ion-button
  size="small"
  fill="outline"
  (click)="irAEspacios(parqueo.parqueoId)"
>
  Administrar espacios
</ion-button>



  



  <ion-button
    *ngIf="parqueo.activo"
    size="small"
    color="danger"
    fill="outline"
    (click)="eliminar(parqueo)"
  >

    Desactivar

  </ion-button>


</div>





      </ion-card-content>



    </ion-card>





  </main>



</ion-content>